  swagger: "2.0"
  info: 
    description: "truebet.api"
    version: "1.0.0"
    title: "trubet.api"
  host: "vvv5285.cloudapp.net"
  basePath: "/"
  tags: 
    - 
      name: "sports-api"
      description: "Sports API"
  paths: 
    /sales/vmax/web/data/sports: 
      get: 
        tags: 
          - "sports-api"
        summary: "salesVmaxWebDataSportsGet"
        description: "Sports"
        operationId: "salesVmaxWebDataSportsGetUsingGET"
        consumes: 
          - "application/json"
        produces: 
          - "application/json"
        responses: 
          200: 
            description: "SportsData"
            schema: 
              $ref: "#/definitions/SportsData"
          401: 
            description: "Unauthorized"
          403: 
            description: "Forbidden"
          404: 
            description: "Not Found"
  definitions: 
    League: 
      type: "object"
      properties: 
        Featured: 
          type: "boolean"
        FeaturedSortOrder: 
          type: "integer"
          format: "int32"
        FeaturedSortOrderForSport: 
          type: "integer"
          format: "int32"
        LeagueId: 
          type: "integer"
          format: "int32"
        LeagueName: 
          type: "string"
        LongDisplayName: 
          type: "string"
        Meetings: 
          type: "array"
          items: 
            $ref: "#/definitions/SportMeeting"
        RegionName: 
          type: "string"
        SortOrder: 
          type: "integer"
          format: "int32"
    SubEvent: 
      type: "object"
      properties: 
        BaseSubEventId: 
          type: "integer"
          format: "int32"
        BetTypeDesc: 
          type: "string"
        BetTypeDisplayComment: 
          type: "string"
        BetTypeId: 
          type: "integer"
          format: "int32"
        BetTypeName: 
          type: "string"
        BetTypeShortName: 
          type: "string"
        CashOutEnabled: 
          type: "boolean"
        CloseDateTimeInternetOffset: 
          type: "integer"
          format: "int32"
        DisablePlaceAllUp: 
          type: "boolean"
        DisplayComment: 
          type: "string"
        IsForInternet: 
          type: "boolean"
        LiveBetting: 
          type: "boolean"
        LongDisplayName: 
          type: "string"
        OfferSortMethod: 
          type: "integer"
          format: "int32"
        Offers: 
          type: "array"
          items: 
            $ref: "#/definitions/Offer"
        PlaceBetting: 
          type: "boolean"
        ResultDateTime: 
          type: "string"
        SortOrder: 
          type: "integer"
          format: "int32"
        SpecialConditions: 
          type: "string"
        SpecialPromotion: 
          type: "boolean"
        SpecialSubEventId: 
          type: "integer"
          format: "int32"
        Status: 
          type: "string"
        SubEventId: 
          type: "integer"
          format: "int32"
    MainEvent: 
      type: "object"
      properties: 
        CashOutEnabled: 
          type: "boolean"
        CountryCode: 
          type: "string"
        CountryName: 
          type: "string"
        EventName: 
          type: "string"
        EventStartTime: 
          type: "string"
        Featured: 
          type: "boolean"
        FeaturedSortOrder: 
          type: "integer"
          format: "int32"
        FeaturedSortOrderForSport: 
          type: "integer"
          format: "int32"
        IsForInternet: 
          type: "boolean"
        LiveBetting: 
          type: "boolean"
        LocationName: 
          type: "string"
        LongDisplayName: 
          type: "string"
        MainEventId: 
          type: "integer"
          format: "int32"
        MarketCount: 
          type: "integer"
          format: "int32"
        SortOrder: 
          type: "integer"
          format: "int32"
        Status: 
          type: "string"
        SubEvents: 
          type: "array"
          items: 
            $ref: "#/definitions/SubEvent"
        VenueName: 
          type: "string"
    Sport: 
      type: "object"
      properties: 
        Featured: 
          type: "boolean"
        FeaturedSortOrder: 
          type: "integer"
          format: "int32"
        Leagues: 
          type: "array"
          items: 
            $ref: "#/definitions/League"
        LongDisplayName: 
          type: "string"
        SortOrder: 
          type: "integer"
          format: "int32"
        SportId: 
          type: "integer"
          format: "int32"
        SportName: 
          type: "string"
    Offer: 
      type: "object"
      properties: 
        BaseOfferId: 
          type: "integer"
          format: "int32"
        CalculationFlag: 
          type: "boolean"
        Deduction: 
          type: "number"
          format: "double"
        DisplayHAD: 
          type: "integer"
          format: "int32"
        ExtraValue1: 
          type: "number"
          format: "double"
        ExtraValue2: 
          type: "number"
          format: "double"
        HAD: 
          type: "integer"
          format: "int32"
        IsForInternet: 
          type: "boolean"
        LateScratching: 
          type: "boolean"
        LongDisplayName: 
          type: "string"
        Multiplier: 
          type: "number"
          format: "double"
        OfferId: 
          type: "integer"
          format: "int32"
        OfferName: 
          type: "string"
        PlaceBetting: 
          type: "boolean"
        PlaceDeduction: 
          type: "integer"
          format: "int32"
        PlaceReturn: 
          type: "number"
          format: "double"
        PlayerId: 
          type: "integer"
          format: "int32"
        PlayerName: 
          type: "string"
        PlayerNumber: 
          type: "integer"
          format: "int32"
        Score: 
          type: "integer"
          format: "int32"
        SortOrder: 
          type: "integer"
          format: "int32"
        SpecialOfferId: 
          type: "integer"
          format: "int32"
        Status: 
          type: "string"
        TeamId: 
          type: "integer"
          format: "int32"
        WinReturn: 
          type: "number"
          format: "double"
    SportMeeting: 
      type: "object"
      properties: 
        Comments: 
          type: "string"
        LongDisplayName: 
          type: "string"
        MainEvents: 
          type: "array"
          items: 
            $ref: "#/definitions/MainEvent"
        MatchRoundSeason: 
          type: "string"
        MeetingId: 
          type: "integer"
          format: "int32"
        MeetingName: 
          type: "string"
        SortOrder: 
          type: "integer"
          format: "int32"
    SportsData: 
      type: "object"
      properties: 
        Sports: 
          type: "array"
          items: 
            $ref: "#/definitions/Sport"
          
          
