.content {
    margin-top: 55px;
}

.container-custom{
    margin-top: 55px;
}

.button-column {
    width: 150px;
}

.heading-row
{
    padding-top:20px;
    padding-bottom:10px;
}

.heading-row h2 {
    margin: 0px;
    padding: 0px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}